@page
@using MawWww.Extensions
@model MawPageModel
@{
    Model.Title = $"Welcome, {User!.GivenName()}!";
    Model.Area = PrimaryNavArea.Account;
    Model.SetHtmlPageTitle(PrimaryNavArea.Account);
}

<p>
    Thanks for your interest in mikeandwan.us.  Currently, there is limited functionality available
    to logged in users.  You may logout below if your signed in on accident.
</p>

<div class="not-prose border-1 border-secondary rounded-6 p-8 bg-secondary bg-op-20 my-12">
    <p class="color-error text-3xl">
        <span class="i-mdi-shield-warning mr-2"></span>
        Warning
    </p>

    <p class="my-8">
        <span class="font-bold">
            Please pay particular attention to this warning if you are using a shared computer!
        </span>
        <span>
            This applies to all sites.  As an example, if you are using a computer at a hotel,
            internet cafe, or a curious friend's house ;), then please remember to logout when done!
        </span>
    </p>

    <p>
        This site attempts to protect your information as much as possible.  Please note however, some browsers do not clear
        Session Cookies when your close the page or the browser.  This typically happens if the brower is configured with a
        setting called "Continue where I left off".  This is why you might not have to login to your email everytime you open
        your browser.  Unfortunately, there is no good way for the site to guarantee these login cookies are removed, so you
        should take an active part in protecting your account.
    </p>
</div>

<p>
    <a class="btn btn-primary" href="@Url.Page("/Account/Logout")">Logout</a>
</p>
