@page
@model CreateBlogPostPageModel
@{
    Model.Title = "Create Blog Post";
    Model.Area = PrimaryNavArea.Admin;
    Model.SetHtmlPageTitle(PrimaryNavArea.Admin, "Create Blog Post");
}

@section sidebar {
    <partial name="_AdminSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@if(Model.Form.Behavior != CreateBlogPostPageModel.BEHAVIOR_PREVIEW) {
    @await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
        SuccessMessage: "Thank you, your submission was successful.",
        ErrorMessage: "Sorry, there was an error submitting your request.  Please try again later."
    ))
}

@if(!Model.SubmitSuccess) {
    <form method="post" autocomplete="off" role="form">
        <label class="form-control w-full max-w-xs mb-4">
            <div class="label">
                <span class="label-text text-secondary font-bold">Title</span>
                <span class="label-text-alt text-error" asp-validation-for="Form.Title"></span>
            </div>
            <input type="text" class="input" asp-for="Form.Title" />
        </label>

        <label class="form-control w-full mb-4">
            <div class="label">
                <span class="label-text text-secondary font-bold">Content</span>
                <span class="label-text-alt text-error" asp-validation-for="Form.Content"></span>
            </div>
            <textarea class="textarea h-36 w-full" asp-for="Form.Content"></textarea>
        </label>

        <div class="my-8">
            <button type="submit" class="btn btn-primary mr-4" name="Form.Behavior" value="@CreateBlogPostPageModel.BEHAVIOR_SAVE">Save</button>
            <button type="submit" class="btn btn-primary mr-4" name="Form.Behavior" value="@CreateBlogPostPageModel.BEHAVIOR_PREVIEW">Preview</button>
        </div>
    </form>
}

@if(Model.Form.Behavior == CreateBlogPostPageModel.BEHAVIOR_PREVIEW) {
    <h3>@Model.Form.Title</h3>
    @Html.Raw(Model.Form.Content)
}
