@page
@model MawPageModel
@{
    Model.Title = "Admin";
    Model.Area = PrimaryNavArea.Admin;
    Model.SetHtmlPageTitle(PrimaryNavArea.Admin);
}

@section sidebar {
    <partial name="_AdminSidebar" />
}

@if(User.Identity != null && User.Identity.IsAuthenticated)
{
    foreach(var claim in User.Claims)
    {
        <p>@claim.Type: @claim.Value</p>
    }
}
