@page
@model MawPageModel
@{
    Model.Title = "Hello, Beautiful!";
    Model.Area = PrimaryNavArea.Admin;
    Model.SetHtmlPageTitle(PrimaryNavArea.Admin);
}

@section sidebar {
    <partial name="_AdminSidebar" />
}

<p>
    I bow to you, all powerful Administrator!  What is your fancy?
</p>
