.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

build
dist
project.lock.json
**/bin/*
**/obj/*

**/maw_certs/*

**/.svn/*

**/node_modules/*
**/typings/*

**/npm-debug.log
**/yarn-error.log

tools/*.log
hosting/.~lock.architecture.odg#

# static assets that will be automatically built
src/MawWww/wwwroot/css/*
src/MawWww/wwwroot/js/*
!src/MawWww/wwwroot/js/site.ts
src/MawWww/wwwroot/favicon.svg

# python env for deployment
.ansible
.venv

*.dump
