.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

build
dist
project.lock.json
**/bin/*
**/obj/*

**/maw_certs/*

**/.svn/*

**/node_modules/*
**/typings/*

**/npm-debug.log
**/yarn-error.log

tools/*.log
hosting/.~lock.architecture.odg#

# static assets that will be automatically built
src/www/wwwroot/css/reset.css
src/www/wwwroot/css/styles.css
src/www/wwwroot/js/jquery*
src/www/wwwroot/js/site.js
src/www/wwwroot/js/site.js.map
src/www/wwwroot/favicon.svg
