@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: dark;

    --color-base-100: oklch(20.07% 0.0199 284.46);
    --color-base-200: oklch(24.85% 0.0207 284.79);
    --color-base-300: oklch(30.08% 0.0199 281.04);
    --color-base-content: oklch(64.02% 0.0193 282.33);
    --color-primary: oklch(80.04% 0.1642 84.18);
    --color-primary-content: oklch(24.85% 0.0207 284.79);
    --color-secondary: oklch(59.9% 0.1009 289.84);
    --color-accent: oklch(59.9% 0.1009 289.84);
    --color-neutral: oklch(30.08% 0.0199 281.04);

    /*
    --color-secondary-content: oklch(98% 0.01 200);
    --color-accent-content: oklch(98% 0.01 160);
    --color-neutral-content: oklch(98% 0.01 240);
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: oklch(65% 0.25 140);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);
    */

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}
