@page
@model MawPageModel
@{
    Layout = "_Layout";
    Model.Title = "Error";
    Model.Area = PrimaryNavArea.None;
    Model.SetHtmlPageTitle("Error");
}

<p>
    Sorry, there was an error processing your request.  Please try again.
</p>
