@page
@using MawWww.Pages.Shared
@model MawPageModel
@{
    Layout = "_LayoutBase";
    Model.Area = PrimaryNavArea.Home;
    Model.SetHtmlPageTitle(PrimaryNavArea.Home);

    NavCard[] navCards = [
        new NavCard("/about/news", "i-mdi-flag-variant", "News", "See what's new"),
        new NavCard("https://photos.mikeandwan.us", "i-mdi-camera", "Photos", "Checkout the latest photos and videos"),
        new NavCard("/tools", "i-mdi-tools", "Tools", "Assorted tools that may be useful")
    ];
}

<div class="min-h-[120px] h-[340px] b-b-1px b-b-black
    bg-no-repeat bg-fixed bg-[top_50%]
    bg-[url('/img/banner_xs.jpg')]
    sm:bg-[url('/img/banner_sm.jpg')]
    md:bg-[url('/img/banner_lg.jpg')]
    xxl:bg-[url('/img/banner_xl.jpg')]
">
    <div class="bg-black bg-op-60">
        <h1 class="p-2 color-primary text-[64px] text-center font-400 font-brand my-0">mikeandwan.us</h1>
    </div>
</div>

<div class="flex flex-grow flex-justify-between mx-8 mt-12">
@foreach(var card in navCards) {
    @await Html.PartialAsync("_NavCard", card)
}
</div>
