[Unit]
Description=maw-www database maintenance job

[Service]
Type=oneshot
ExecStart=podman exec {{ container_pg }} /bin/bash -c "pg_dumpall -h localhost -U postgres --roles-only --no-role-passwords > /backups/roles.$(date +%%Y%%m%%d).dump"
ExecStart=podman exec {{ container_pg }} /bin/bash -c "pg_dump -h localhost -U postgres -Fc maw_www > /backups/maw_www.$(date +%%Y%%m%%d).dump"
ExecStart=podman exec {{ container_pg }} vacuumdb -h localhost -U postgres --all --analyze
ExecStart=podman exec {{ container_pg }} find /backups -type f -mtime +5 -not -iname *01.dump -delete
