@page
@model MawPageModel
@{
    Model.Title = "Fishy Fishy Cross My Ocean";
    Model.Area = PrimaryNavArea.Scratch;
    Model.SetHtmlPageTitle(PrimaryNavArea.Scratch, "Fishy Fishy Cross My Ocean");
}

@section sidebar {
    <partial name="_ScratchSidebar" />
}

<p>
    Battle of the fishes - race your friends!
    <ul>
        <li>Press right arrow to move the blue fish</li>
        <li>Press left arrow to move the left fish</li>
        <li>Press the flag to reset and do it all over again</li>
    </ul>
</p>

@await Html.PartialAsync("_ScratchApp", "/scratch/fishy-fishy-cross-my-ocean.html")
