@page
@model MawPageModel
@{
    Model.Title = "Untitled";
    Model.Area = PrimaryNavArea.Scratch;
    Model.SetHtmlPageTitle(PrimaryNavArea.Scratch, "Untitled");
}

@section sidebar {
    <partial name="_ScratchSidebar" />
}

<p>
    Gooooooooaaaaaal!
    <ul>
        <li>Move the ref by pressing 'a' and 'd'</li>
        <li>Move the player by pressing 'left' and 'right'</li>
        <li>Kick the ball with 'space' and win the game</li>
    </ul>
</p>

@await Html.PartialAsync("_IFrame", new IFrame("/scratch/untitled.html", 480))
