@page
@model MawPageModel
@{
    Model.Title = "Who's Faster";
    Model.Area = PrimaryNavArea.Scratch;
    Model.SetHtmlPageTitle(PrimaryNavArea.Scratch, "Who's Faster");
}

@section sidebar {
    <partial name="_ScratchSidebar" />
}

<p>
    Can anyone beat the dragon?
    <ul>
        <li>Move the dragon by pressing 'right'</li>
    </ul>
</p>

@await Html.PartialAsync("_IFrame", new IFrame("/scratch/whos-faster.html", 640, 480))
