@model IEnumerable<FormatExampleGroup>

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@foreach(var group in Model)
{
    <div>
        <h3>@group.Name</h3>

        <table class="not-prose table table-zebra w-full **:!border-base-300">
            <tr>
                <th class="text-left">Format String</th>
                <th class="text-left">Result</th>
            </tr>

            @foreach(var example in group.Examples)
            {
            <tr>
                <td>@example.FormatString</td>
                <td>@example.Result</td>
            </tr>
            }
        </table>
    </div>
}
