@model IEnumerable<FormatExampleGroup>

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@foreach(var group in Model)
{
    <div class="card">
        <div class="card-body">
            <strong class="card-title">@group.Name</strong>

            <table class="table table-zebra table-sm">
                <thead>
                    <tr>
                        <th class="text-left">Format String</th>
                        <th class="text-left">Result</th>
                    </tr>
                </thead>
                <tbody>

                @foreach(var example in group.Examples)
                {
                    <tr>
                        <td>@example.FormatString</td>
                        <td>@example.Result</td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
}
