@page
@model DateFormatsPageModel
@{
    Model.Title = "Date Formats";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, ".NET", "Date Formats");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

<p>
    The following are examples that show the output of formatting
    <strong>@DateFormatsPageModel.DATE.ToString("MMMM dd, yyyy  hh:mm:ss.fff tt UTC")</strong>.
    Note that there are many more things you can do as far as formatting dates in the framework.  For example
    the samples below do not even broach the subject of culture specific formatting.
</p>
<p>
    For more detail, visit the API documentation at
    <a href="https://learn.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings">Microsoft Learn</a>.
</p>

<partial name="_FormatExamples" model="@DateFormatsPageModel.Examples" />
