@page
@model MawPageModel
@{
    Model.Title = "GUID Generator";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, ".NET", "GUID Generator");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

<p>This page allows you to generate GUIDs.</p>

<label class="form-control w-full mb-4">
    <div class="label">
        <span class="label-text color-secondary font-bold">GUID (UUIDv4)</span>
    </div>
    <input type="text" class="input input-bordered" value="@(Guid.NewGuid())" />
</label>

<label class="form-control w-full mb-4">
    <div class="label">
        <span class="label-text color-secondary font-bold">UUIDv7</span>
    </div>
    <input type="text" class="input input-bordered" value="@(Guid.CreateVersion7())" />
</label>

<div class="mt-8">
    <a asp-page="./GuidGenerator" class="btn btn-primary">Generate</a>
</div>

