@page
@model MawPageModel
@{
    Model.Title = "GUID Generator";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, ".NET", "GUID Generator");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

<p>This page allows you to generate GUIDs.</p>

<div class="mb-4">
    <strong class="color-secondary mr-3">GUID (UUIDv4):</strong>
    <span>@(Guid.NewGuid())</span>
</div>

<div class="mb-4">
    @*<strong class="color-secondary mr-3">UUIDv7:</strong>
    <span>@(Guid.CreateVersion7())</span> *@
</div>

<div class="mt-8">
    <a asp-page="./GuidGenerator" class="btn btn-primary">Generate</a>
</div>

