@page
@model MawPageModel
@{
    Model.Title = "GUID Generator";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, ".NET", "GUID Generator");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

<p>This page allows you to generate GUIDs.</p>

<fieldset class="fieldset">
    <label class="input w-lg">
        <span class="label font-bold text-secondary">GUID (UUIDv4)</span>
        <input type="email" value="@(Guid.NewGuid())" />
    </label>
</fieldset>

<fieldset class="fieldset">
    <label class="input w-lg">
        <span class="label font-bold text-secondary">GUID (UUIDv7)</span>
        <input type="email" value="@(Guid.CreateVersion7())" />
    </label>
</fieldset>

<div class="mt-4">
    <a asp-page="./GuidGenerator" class="btn btn-primary">Generate</a>
</div>
