@page
@model PathsPageModel
@{
    Model.Title = "Paths";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, ".NET", "Paths");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

<p>
    The following illustrates how .NET evaluates different file paths.
</p>

<table class="not-prose table table-zebra w-full **:!border-base-300">
    <tr>
        <th class="text-left">API Call</th>
        <th class="text-left">Result</th>
    </tr>

    @foreach(var (apiCall, value) in PathsPageModel.Examples) {
    <tr>
        <td>@apiCall</td>
        <td>@value</td>
    </tr>
    }
</table>
