@page
@model XmlValidatorPageModel
@{
    Model.Title = "XML Validator";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, ".NET", "XML Validator");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please correct the errors below."
))

<p>
    This page allows you to validate the contents of an XML document, to make sure it is
    well formed, and optionally, that it adheres to the supplied DTD / XSD.
</p>

<form method="post" autocomplete="off" role="form">
    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">XML Source</legend>
        <textarea class="textarea h-36 w-full" asp-for="Form.XmlSource" autofocus></textarea>
        <span class="text-error" asp-validation-for="Form.XmlSource"></span>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Schema / DTD Source</legend>
        <textarea class="textarea h-36 w-full" asp-for="Form.SchemaOrDtdSource"></textarea>
        <span class="text-error" asp-validation-for="Form.SchemaOrDtdSource"></span>
    </fieldset>

    <button type="submit" class="btn btn-primary mb-4">Submit</button>
</form>

@if(Model.SubmitAttempted) {
    <div class="mt-8">
        @if(!Model.AreErrors) {
            <p>
                <strong>The XML document is VALID!</strong>
            </p>
        }
        else {
            <p>Your XML document is not well formed.  The following outlines the errors encountered:</p>
            <textarea class="textarea w-full h-48" disabled>@Model.ErrorMessage</textarea>
        }
    </div>
}
