@page
@model XslTransformModel
@{
    Model.Title = "XSL Transform";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, ".NET", "XML Validator");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please correct the errors below."
))

<p>
    This page allows you to view the output of an XSL Transform when applied to an XML document.
</p>

<form method="post" autocomplete="off" role="form">
    <label class="form-control w-full mb-4">
        <div class="label">
            <span class="label-text color-secondary font-bold">XML Source</span>
            <span class="label-text-alt color-error" asp-validation-for="Form.XmlSource"></span>
        </div>
        <textarea class="input input-bordered w-full h-48" asp-for="Form.XmlSource" autofocus></textarea>
    </label>

    <label class="form-control w-full mb-4">
        <div class="label">
            <span class="label-text color-secondary font-bold">XSLT Source</span>
            <span class="label-text-alt color-error text-right" asp-validation-for="Form.XsltSource"></span>
        </div>
        <textarea class="input input-bordered w-full h-48" asp-for="Form.XsltSource"></textarea>
    </label>

    <button type="submit" class="btn btn-primary mb-4">Submit</button>
</form>

@if(Model.SubmitAttempted) {
    <div class="mt-8">
        <h2 class="color-secondary">Transform Results</h2>

        <textarea class="input input-bordered w-full h-48" disabled>
            @if(Model.AreErrors) {
                <text>@Model.ErrorMessage</text>
            } else {
                <text>@Model.TransformResult</text>
            }
        </textarea>
    </div>
}
