@page
@model XslTransformPageModel
@{
    Model.Title = "XSL Transform";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, ".NET", "XML Validator");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please correct the errors below."
))

<p>
    This page allows you to view the output of an XSL Transform when applied to an XML document.
</p>

<form method="post" autocomplete="off" role="form">
    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">XML Source</legend>
        <textarea class="textarea h-36 w-full" asp-for="Form.XmlSource" autofocus></textarea>
        <span class="text-error" asp-validation-for="Form.XmlSource"></span>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">XSLT Source</legend>
        <textarea class="textarea h-36 w-full" asp-for="Form.XsltSource"></textarea>
        <span class="text-error" asp-validation-for="Form.XsltSource"></span>
    </fieldset>

    <button type="submit" class="btn btn-primary my-4">Submit</button>
</form>

@if(Model.SubmitAttempted) {
    <div class="mt-8">
        <h2 class="text-secondary">Transform Results</h2>

        <textarea class="textarea w-full h-48" disabled>
            @if(Model.AreErrors) {
                <text>@Model.ErrorMessage</text>
            } else {
                <text>@Model.TransformResult</text>
            }
        </textarea>
    </div>
}
