<div class="text-center">
    <a href="/privacy" class="link link-secondary">privacy policy</a>
</div>

<div class="text-center mt-2">
    <a class="link link-secondary mx-3" target="_blank" rel="noopener" href="https://play.google.com/store/apps/developer?id=mmorano"><span class="i-fa-android text-12" /></a>
    <a class="link link-secondary mx-3" target="_blank" rel="noopener" href="https://twitter.com/AerisG222"><span class="i-fa6-brands-x-twitter text-12" /></a>
    <a class="link link-secondary mx-3" target="_blank" rel="noopener" href="https://www.linkedin.com/pub/mike-morano/0/b51/805"><span class="i-mdi-linkedin text-12" /></a>
    <a class="link link-secondary mx-3" target="_blank" rel="noopener" href="https://github.com/AerisG222"><span class="i-mdi-github text-12" /></a>
    <a class="link link-secondary mx-3" target="_blank" rel="noopener" href="https://steamcommunity.com/profiles/76561197974977949/"><span class="i-mdi-steam text-12" /></a>
</div>

<div class="text-center mt-2">
    <span>copyright &copy; @(DateTime.Now.Year) mike morano | all rights reserved</span>
</div>
