@{ Layout = "_LayoutBase"; }

@section scripts_head {
    @await RenderSectionAsync("scripts_head", required: false)
}

@section scripts_footer {
    @await RenderSectionAsync("scripts_footer", required: false)
}

<article class="mx-auto grid max-w-[1320px]
    grid-rows-[max-content_auto] grid-cols-[100%]
    md:grid-rows-[auto] md:grid-cols-[auto_max-content]"
>
    <section class="mx-8">
        <h1>@Model.Title</h1>
        @RenderBody()
    </section>

    <aside class="mx-auto md:mr-8 order-first md:order-last">
        @await RenderSectionAsync("sidebar", required: false)
    </aside>
</article>
