@using MawWww.Extensions
<!doctype html>
<html lang="en" data-theme="@Context.GetMawUserPreferences()?.Theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.HtmlPageTitle</title>
    <partial name="_Favicons" />
    <link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true" />
    <script src="~/js/site.min.js" type="module" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts_head", required: false)
</head>
<body class="grid
    grid-rows-[max-content_100svh] grid-cols-[100svw]
    md:grid-rows-[100svh] md:grid-cols-[max-content_auto]"
>
    <header class="bg-base-300 border-b-1 md:border-r-1 border-base-content/30">
        <partial name="_PrimaryNav" />
    </header>

    <main class="prose max-w-none overflow-y-auto">
        @RenderBody()

        <footer class="p-8 mt-24 bg-base-200">
            <partial name="_Footer" />
        </footer>
    </main>

    @await RenderSectionAsync("scripts_footer", required: false)
</body>
</html>
