@{ Layout = "_LayoutBase"; }

@section scripts_head {
    @await RenderSectionAsync("scripts_head", required: false)
}

@section scripts_footer {
    @await RenderSectionAsync("scripts_footer", required: false)
}

<article class="mx-auto max-w-[1320px]">
    <section class="mx-8 my-2">
        <h1>@Model.Title</h1>
        @RenderBody()
    </section>
</article>
