@using MawWww.Pages.Shared
@model MawWww.Pages.Shared.NavCard

<a href="@Model.Url" class="flex not-prose">
    <div class="card bg-base-200 w-64 transition hover:text-secondary hover:bg-base-300">
        <div class="card-body text-center center">
            <span class="@Model.Icon mx-auto text-8xl"></span>
            <h2 class="card-title text-4xl mx-auto my-0">@Model.Title</h2>
            <p class="my-0">@Model.Description</p>
        </div>
    </div>
</a>
