@model IEnumerable<Menu>

<div class="not-prose flex flex-col content-center flex-wrap gap-4 md:flex-row md:gap-8">
    @foreach(var menu in Model) {
        @await Html.PartialAsync("_Menu", menu)
    }
</div>
