<button
    class="block py-1 color-secondary hover:color-secondary-content hover:bg-secondary-focus"
    onclick="togglePrimaryNavCollapseState(); return false;"
    title="Expand/Collapse Nav"
>
    <span id="maw-primary-nav-title" class="text-6 i-mdi-chevron-double-left"></span>
</button>
