@using MawWww.Extensions
@{
    var collapsed = Context?.GetMawUserPreferences()?.PrimaryNavCollapsed ?? false;
    var icon = collapsed ? "icon-[mdi--chevron-double-right]" : "icon-[mdi--chevron-double-left]";
}
<button
    id="maw-primary-nav-collapse-button"
    class="hidden md:block py-1 text-secondary transition hover:text-secondary-content hover:bg-secondary"
    title="Expand/Collapse Nav"
>
    <span id="maw-primary-nav-title" class="align-middle text-xl @icon"></span>
</button>
