@model IEnumerable<Menu>

<div class="flex justify-between">
    <div></div>

    <div id="sidebar-menu" class="hidden md:block md:mx-0">
        @foreach(var menu in Model) {
            @await Html.PartialAsync("_Menu", menu)
        }
    </div>

    <label class="md:hidden btn btn-sm btn-outline btn-secondary swap swap-rotate">
        <input id="sidebar-menu-toggle" type="checkbox" />
        <span class="swap-off i-mdi-hamburger-menu"></span>
        <span class="swap-on i-mdi-close"></span>
    </label>
</div>
