@page
@model MawPageModel
@{
    Model.Title = "Google Maps";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "Google Maps");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

<p>
    The maps below are "linked" together so that you can look at the same area at different zoom levels
    and have them pan together.
</p>

@section scripts_head {
    @await Html.PartialAsync("_SolidAppAssets", "js/solid-google-maps/index.html")
}

<partial name="_SolidAppRoot" />
