@page
@model HtmlEncodePageModel
@{
    Model.Title = "HTML Encode / Decode";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "General", "Html Encode / Decode");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please correct the errors below."
))

<p>This page allows you to encode and decode values suitable for HTML content.</p>

<form method="post" autocomplete="off" role="form">
    <input type="hidden" asp-for="Form.Mode" value="@HtmlEncodeMode.Encode" />
    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Decoded String</legend>
        <textarea class="textarea h-36 w-full" asp-for="Form.DecodedString" autofocus></textarea>
        <span class="text-error" asp-validation-for="Form.DecodedString"></span>
    </fieldset>

    <button type="submit" class="btn btn-primary">Encode</button>
</form>

<form method="post" class="mt-8" autocomplete="off" role="form">
    <input type="hidden" asp-for="Form.Mode" value="@HtmlEncodeMode.Decode" />
    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Encoded String</legend>
        <textarea class="textarea h-36 w-full" asp-for="Form.EncodedString"></textarea>
        <span class="text-error" asp-validation-for="Form.EncodedString"></span>
    </fieldset>

    <button type="submit" class="btn btn-primary">Decode</button>
</form>
