@page
@model RandomBytesPageModel
@{
    Model.Title = "Random Bytes";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "General", "Random Bytes");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please correct the errors below."
))

<p>
    This page allows you to generate a list of random bytes.  I've created this after wanting a more random
    sequence of bytes than manually typing these in, primarily for use in the machinekey section of the
    web.config for a prior version of this site.  Additionally, this uses a cryptographic random number
    generator, so it should result in a good random value.
</p>

<form method="post" autocomplete="off" role="form">
    <fieldset class="fieldset">
        <label class="input">
            <span class="label font-bold text-secondary">Number of Bytes</span>
            <input type="number" class="input-number" asp-for="Form.Size" autofocus />
        </label>
        <span class="text-error" asp-validation-for="Form.Size"></span>
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if(!string.IsNullOrEmpty(Model.RandomBytes)) {
    <h2>Results</h2>

    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Random Bytes (hex)</legend>
        <textarea class="textarea h-36 w-full" asp-for="RandomBytes" spellcheck="false"></textarea>
    </fieldset>

    <fieldset class="fieldset mt-4">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Random Bytes (base64)</legend>
        <textarea class="textarea h-36 w-full" asp-for="RandomBytesBase64" spellcheck="false"></textarea>
    </fieldset>
}
