<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mikeandwan.us | @ViewBag.Title</title>
    <partial name="_Favicons" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("custom_head", required: false)
</head>
<body>
    <partial name="_Header" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    @await RenderSectionAsync("scripts_footer", required: false)
</body>
</html>
