<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mikeandwan.us | @ViewBag.Title</title>
    <partial name="_Favicons" />
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("custom_head", required: false)
</head>
<body>
    <div class="grid
        grid-rows-[max-content_100vh] grid-cols-[100vw]
        md:grid-rows-[100vh] md:grid-cols-[max-content_max-content_auto]"
    >
        <partial name="_PrimaryNav" />

        <div class="grid w-100% h-[calc(100vh-48px)]
            grid-rows-[max-content_auto_0] grid-cols-[100%]
            md:h-[100vh] md:grid-rows-[100%] md:grid-cols-[max-content_auto_max-content]"
        >
            <div>
                @await RenderSectionAsync("toolbar", required: false)
            </div>

            <div class="overflow-y-auto scrollable">
                <div>
                    <h1 class="head1"> title </h1>

                    <main role="main" class="pb-3">
                        @RenderBody()

                        <div class="mt-24">
                            <partial name="_Footer" />
                        </div>
                    </main>
                </div>
            </div>

            <div>
                @await RenderSectionAsync("sidebar", required: false)
            </div>
        </div>
    </div>

    @await RenderSectionAsync("scripts_footer", required: false)
</body>
</html>
