<header class="md:flex bg-base-300 border-b-1 md:border-r-1 border-base-content:30%">
    <span class="i-mdi-arrow-left-bold-circle" onclick="togglePrimaryNavCollapseState();"></span>
    <nav class="flex md:flex-col">
        @await Html.PartialAsync("_PrimaryNavLink", new PrimaryNavLink("/",          Title: "Home",      ImageUrl: "/favicon.svg",          IsActive: false))
        @await Html.PartialAsync("_PrimaryNavLink", new PrimaryNavLink("/about",     Title: "About",     Icon: "i-mdi-help-circle-outline", IsActive: false))
        @await Html.PartialAsync("_PrimaryNavLink", new PrimaryNavLink("/reference", Title: "Reference", Icon: "i-mdi-bookshelf",           IsActive: false))
        @await Html.PartialAsync("_PrimaryNavLink", new PrimaryNavLink("/tools",     Title: "Tools",     Icon: "i-mdi-tools",               IsActive: false))
        @await Html.PartialAsync("_PrimaryNavLink", new PrimaryNavLink("/games",     Title: "Games",     Icon: "i-mdi-gamepad",             IsActive: false))
        @await Html.PartialAsync("_PrimaryNavLink", new PrimaryNavLink("/webgl",     Title: "WebGL",     Icon: "i-mdi-cube-outline",        IsActive: false))
        @await Html.PartialAsync("_PrimaryNavLink", new PrimaryNavLink("/scratch",   Title: "Scratch",   Icon: "i-simple-icons-scratch",    IsActive: false))

        <span class="flex-grow-1"></span>

        <partial name="_ThemeSwitcher" />
        @await Html.PartialAsync("_PrimaryNavLink", new PrimaryNavLink("#", Title: "Account", Icon: "i-mdi-user", IsActive: false))
    </nav>
</header>
