<button
    class="block py-1 color-secondary bg-secondary-focus bg-opacity-10 hover:color-secondary-focus hover:bg-opacity-36"
    onclick="togglePrimaryNavCollapseState(); return false;"
    title="Expand/Collapse Nav"
>
    <span id="maw-primary-nav-title" class="text-6 i-mdi-chevron-double-left"></span>
</button>
