<header class="md:flex bg-base-300 border-b-1 md:border-r-1 border-base-content:30%">
    <nav class="flex md:flex-col">
        <a class="maw-primary-nav-link" href="/"><img src="/favicon.svg" class="w-8 h-8" /></a>
        <a class="maw-primary-nav-link" href="#"><span class="block i-mdi-help-circle-outline" /></a>
        <a class="maw-primary-nav-link" href="#"><span class="block i-mdi-bookshelf" /></a>
        <a class="maw-primary-nav-link" href="#"><span class="block i-mdi-tools" /></a>
        <a class="maw-primary-nav-link" href="#"><span class="block i-mdi-gamepad" /></a>
        <a class="maw-primary-nav-link" href="#"><span class="block i-mdi-cube-outline" /></a>
        <a class="maw-primary-nav-link" href="#"><span class="block i-simple-icons-scratch" /></a>

        <span class="flex-grow-1"></span>

        <partial name="_ThemeSwitcher" />
        <a class="maw-primary-nav-link" href="#"><span class="block i-mdi-user" /></a>
        <a class="maw-primary-nav-link" href="#"><span class="block i-mdi-email" /></a>
    </nav>
</header>
