<button class="flex maw-primary-nav-link" onclick="nextTheme(); return false;" title="Toggle Theme">
    <span class="block i-mdi-theme-light-dark"></span>
    <span class="font-bold text-lg ml-3 maw-primary-nav-title">Theme</span>
</button>
