.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.learning-letter-container {
    min-width: 256px;
    min-height: 152px;
    border: 2px solid;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.learning-letter {
    font-family: 'Inconsolata', sans-serif;
    font-size: 128px;
}

.option-container-wrapper {
    display: flex;
    gap: 2rem;
}

.option-container {
    display: flex;
    flex-direction: column;
}

.action-container {
    margin: 2rem;
}
