@page
@model DateDifferencePageModel
@{
    Model.Title = "Date Difference";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "Calculators", "Date Difference");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please enter valid options"
))

<p>
    This will calculate the difference between two dates and show you the result in
    different time scales.
</p>

<form method="post" autocomplete="off" role="form">
    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Start Date</legend>
        <input type="date" class="input" asp-for="Form.StartDate" />
        <span class="text-error" asp-validation-for="Form.StartDate"></span>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">End Date</legend>
        <input type="date" class="input" asp-for="Form.EndDate" />
        <span class="text-error" asp-validation-for="Form.EndDate"></span>
    </fieldset>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>

@if(Model.Results.Count > 0) {
    <table class="not-prose mt-8 table table-zebra **:!border-base-300">
        <tr>
            <th class="text-left">Time Scale</th>
            <th class="text-right">Amount</th>
        </tr>
        @foreach(var result in Model.Results) {
        <tr>
            <td>@result.TimeScale</td>
            <td class="text-right">@result.Amount.ToString("N3")</td>
        </tr>
        }
    </table>
    <p class="mt-4 text-sm italic">
        For the calculation above, 1 month = 730h
    </p>
}
