@page
@model DateDifferenceModel
@{
    Model.Title = "Date Difference";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "Calculators", "Date Difference");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please enter valid options"
))

<p>
    This will calculate the difference between two dates and show you the result in
    different time scales.
</p>

<form method="post" autocomplete="off" role="form">
    <label class="form-control w-full max-w-xs mb-4">
        <div class="label">
            <span class="label-text color-secondary font-bold">Start Date</span>
            <span class="label-text-alt color-error" asp-validation-for="Form.StartDate"></span>
        </div>
        <input type="date" class="input input-bordered w-full max-w-xs" asp-for="Form.StartDate" autofocus />
    </label>

    <label class="form-control w-full max-w-xs mb-4">
        <div class="label">
            <span class="label-text color-secondary font-bold">End Date</span>
            <span class="label-text-alt color-error" asp-validation-for="Form.StartDate"></span>
        </div>
        <input type="date" class="input input-bordered w-full max-w-xs" asp-for="Form.EndDate" />
    </label>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>

@if(Model.Results.Count > 0) {
    <table class="not-prose mt-8 table-auto border-collapse border">
        <tr class="border-b-1">
            <th class="px-4 py-1 text-left">Time Scale</th>
            <th class="px-4 py-1 text-right">Amount</th>
        </tr>
        @foreach(var result in Model.Results) {
        <tr class="even:bg-secondary:12">
            <td class="px-4 py-1">@result.TimeScale</td>
            <td class="px-4 py-1 text-right">@result.Amount.ToString("N3")</td>
        </tr>
        }
    </table>
    <p class="mt-4 text-sm italic">
        For the calculation above, 1 month = 730h
    </p>
}
