@page
@model TimePageModel
@{
    Model.Title = "Time Calculator";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "Calculators", "Time");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    ErrorMessage: "Please select a valid time unit."
))

<p>
    This page provides a calculator to view approximate time measures.
</p>

<form method="post" autocomplete="off" role="form">
    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Length of Time</legend>
        <input type="number" inputmode="numeric" class="input input-number" asp-for="Form.LengthOfTime" autofocus />
        <span class="text-error" asp-validation-for="Form.LengthOfTime"></span>
    </fieldset>

    <fieldset class="fieldset">
        <legend class="fieldset-legend text-secondary font-bold text-sm">Unit of Time</legend>
        <select class="select" asp-for="Form.Unit">
            @foreach(var unit in Model.AllUnits) {
                <option value="@unit.ToLower()">@unit</option>
            }
        </select>
        <span class="label-text-alt text-error" asp-validation-for="Form.Unit"></span>
    </fieldset>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>

@if(Model.Results.Count > 0) {
    <table class="not-prose mt-8 table table-zebra **:!border-base-300">
        <tr>
            <th class="text-left">Unit</th>
            <th class="text-right">Amount</th>
        </tr>
        @foreach(var result in Model.Results) {
        <tr>
            <td>@result.Scale.Name</td>
            <td class="text-right">@result.LengthOfTime.ToString("N3")</td>
        </tr>
        }
    </table>
    <p class="mt-4 text-sm italic">
        For the calculation above, 1 month = 730h
    </p>
}
