@page
@model MawPageModel
@{
    Layout = "_Layout";
    Model.Title = "Tools";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools);
}

<div class="flex justify-between gap-8">
    @await Html.PartialAsync("_Menu", ToolsMenu.GeneralMenu)
    @await Html.PartialAsync("_Menu", ToolsMenu.CalculatorMenu)
    @await Html.PartialAsync("_Menu", ToolsMenu.DotnetMenu)
    @await Html.PartialAsync("_Menu", ToolsMenu.BinaryClockMenu)
</div>
