@page
@model MawPageModel
@{
    Model.Title = "About Binary Clock";
    Model.Area = PrimaryNavArea.Tools;
    Model.SetHtmlPageTitle(PrimaryNavArea.Tools, "About Binary Clock");
}

@section sidebar {
    <partial name="_ToolsSidebar" />
}

<p>
    A binary clock is actually pretty easy to read once you have someone explain it.
    That is what I will hopefully do on this page.
</p>

<p>
    Let's start by taking a look at a single moment in time, using the example below:
</p>

<table class="not-prose my-4 mx-auto border-separate
    [&_:is(td)]:m-1 [&_:is(td)]:w-[24px] [&_:is(td)]:h-[24px] [&_:is(td)]:rounded-full [&_:is(td)]:border-2"
>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td class="!border-0 w-2"></td>
            <td></td>
            <td></td>
            <td class="!border-0 w-2"></td>
            <td></td>
            <td class="bg-neutralContent"></td>
        </tr>
        <tr>
            <td></td>
            <td class="bg-neutralContent"></td>
            <td class="!border-0 w-2"></td>
            <td class="bg-neutralContent"></td>
            <td class="bg-neutralContent"></td>
            <td class="!border-0 w-2"></td>
            <td class="bg-neutralContent"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="bg-neutralContent"></td>
            <td class="!border-0 w-2"></td>
            <td></td>
            <td></td>
            <td class="!border-0 w-2"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="bg-neutralContent"></td>
            <td class="!border-0 w-2"></td>
            <td></td>
            <td class="bg-neutralContent"></td>
            <td class="!border-0 w-2"></td>
            <td class="bg-neutralContent"></td>
            <td class="bg-neutralContent"></td>
        </tr>
        <tr>
            <td colspan="8" class="!border-0 text-center">07 : 45 : 59</td>
        </tr>
    </tbody>
</table>

<p>
    The first thing to notice when reading the clock, is that it is broken
    up into three columns: <em>hours</em>, <em>minutes</em>, and <em>seconds</em>.
    As you probably already expected, hours are represented in 24h time.
</p>

<p>
    Now that you know about what each of these columns represents, lets look
    at how to read each column.  Luckily once you know how to read one column,
    you can read all three.  Each time component is made up of two closely packed
    columns.  The column on the left represents the tens digit, and the column on
    the right represents the ones digit.
</p>

<p>
    In order to determine the numeric value of one of these individual columns
    (the tens or ones digit), you need to do a bit of simple math.  Starting
    with the bottom row for the column, this represents 2<sup>0</sup>.  The
    cell immediately above is 2<sup>1</sup>, and above that is 2<sup>2</sup>,
    and the topmost cell is 2<sup>3</sup>.  So now you just count all of the
    illuminated cells in that column to arrive at the number for the tens
    and ones digits.
</p>

<p>
    As a quick review, here is a quick listing of the important powers of 2:
</p>

2<sup>0</sup> = 1
<br/>
2<sup>1</sup> = 2
<br/>
2<sup>2</sup> = 4
<br/>
2<sup>3</sup> = 8

<p>
    Armed with the above, we can now calculate the clock as follows:
</p>

<table class="not-prose my-4 mx-auto min-w-[600px] md:max-w-[700px] border-1 [&_:is(td)]:text-center">
    <tbody>
        <tr class="border-b-2">
            <th colspan="2">Hours</th>
            <th colspan="2" class="bg-neutral color-neutralContent">Minutes</th>
            <th colspan="2">Seconds</th>
        </tr>
        <tr class="border-b-1">
            <th class="border-r-1">Tens</th>
            <th>Ones</th>
            <th class="border-r-1 bg-neutral color-neutralContent">Tens</th>
            <th class="bg-neutral color-neutralContent">Ones</th>
            <th class="border-r-1">Tens</th>
            <th>Ones</th>
        </tr>
        <tr>
            <td class="border-r-1">--</td>
            <td>2<sup>0</sup> + 2<sup>1</sup> + 2<sup>2</sup></td>
            <td class="border-r-1 bg-neutral color-neutralContent">2<sup>2</sup></td>
            <td class="bg-neutral color-neutralContent">2<sup>0</sup> + 2<sup>2</sup></td>
            <td class="border-r-1">2<sup>0</sup> + 2<sup>2</sup></td>
            <td>2<sup>0</sup> + 2<sup>3</sup></td>
        </tr>
        <tr>
            <td class="border-r-1">--</td>
            <td>1 + 2 + 4</td>
            <td class="border-r-1 bg-neutral color-neutralContent">4</td>
            <td class="bg-neutral color-neutralContent">1 + 4</td>
            <td class="border-r-1">1 + 4</td>
            <td>1 + 8</td>
        </tr>
        <tr>
            <td class="border-r-1">0</td>
            <td>7</td>
            <td class="border-r-1 bg-neutral color-neutralContent">4</td>
            <td class="bg-neutral color-neutralContent">5</td>
            <td class="border-r-1">5</td>
            <td>9</td>
        </tr>
        <tr class="border-t-2">
            <th colspan="2">07</th>
            <th colspan="2" class="bg-neutral color-neutralContent">45</th>
            <th colspan="2">59</th>
        </tr>
    </tbody>
</table>
