@page
@model ContactPageModel
@{
    Model.Title = "Contact Us";
    Model.Area = PrimaryNavArea.About;
    Model.SetHtmlPageTitle(PrimaryNavArea.About, "Contact");
}

@section sidebar {
    <partial name="_AboutSidebar" />
}

@section scripts_head {
    <partial name="_js_CaptchaFeature" />
}

@section scripts_footer {
    <partial name="_js_JqueryValidation" />
}

@await Html.PartialAsync("_AlertFormResponse", new AlertProps(Model,
    SuccessMessage: "Thank you, your submission was successful.",
    ErrorMessage: "Sorry, there was an error submitting your request.  Please try again later."
))

@if(!Model.SubmitSuccess) {
    <p>Have something on your mind?  Let us know!</p>

    <form method="post" autocomplete="off" role="form">
        <fieldset class="fieldset">
            <label class="input">
                <span class="label font-bold text-secondary">Name</span>
                <input type="text" asp-for="Form.Name" />
            </label>
            <span class="text-error" asp-validation-for="Form.Name"></span>
        </fieldset>

        <fieldset class="fieldset">
            <label class="input">
                <span class="label font-bold text-secondary">Email</span>
                <input type="email" asp-for="Form.Email" />
            </label>
            <span class="text-error" asp-validation-for="Form.Email"></span>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend text-secondary font-bold text-sm">Message</legend>
            <textarea class="textarea h-36 w-full max-w-lg" asp-for="Form.Message"></textarea>
            <span class="text-error" asp-validation-for="Form.Message"></span>
        </fieldset>

        <fieldset class="fieldset">
            <partial name="_CaptchaFeature" for="CaptchaSiteKey" />
            <span asp-validation-for="IsHuman" class="text-error"></span>
        </fieldset>

        <!--
        <label class="form-control w-full max-w-lg mb-4">

        </label>
        -->

        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
}
